# CSE2050 Homework 1
**Name: Joshua Hartzfeld**  | Topic: Strings

### Question 1

In [75]:
employees = ["Willena Shupe", "Jolanda Agin", "Leta Stacker",
"Leonora Oliverio", "Birgit Stoudt", "Aron Valtierra", "Vi Buschman"]

salaries2021 = ["$102,633", "$82,012", "$129,860",
"$48,949", "$55,208", "$95,600", "$40,030"]

salaries2022 = ["$105,711.99", "$86,932.72", "$133,755.80",
"$54,822.88", "$59,624.64", "$100,380.00", "$43,632.70"]

In [76]:
print('{:<22}{:<15}{:<15}{:<15}'.format("Employee ","2021 Salary ","2022 Salary ","% increase"))
print("-"*60)

Employee              2021 Salary    2022 Salary    % increase
------------------------------------------------------------

In [105]:
import itertools
for (name, sal_2021, sal_2022) in zip(employees, salaries2021, salaries2022):
    num_2021 = sal_2021.strip('$')
    num_2022 = sal_2022.strip('$')
    num_2021 = float(num_2021.replace(',', ''))
    num_2022 = float(num_2022.replace(',', ''))
    p_increase = ((num_2022 - num_2021)/num_2021)*100
    
    print('{:<25}{:>15{:>15}{:>15}'.format(name, sal_2021, sal_2022, round(p_increase,1)))

ValueError: Invalid format specifier

In [ ]:
 int(num)
    int (num2)
    print('{:<25}{:<15}{:<15}'.format(name, sal_2021, sal_2022,))